.category-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap; 
    padding: 10px;
}

.category-container a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 10px;
    height: 80px;
    width: 80px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    text-decoration: none;
}

.category-container a:hover {
    transform: scale(0.95);
}

.active {
    background-color: #F77121 !important;
}


@media (max-width: 768px) {
    .category-container {
        gap: 30px; 
    }

    .category-container a {
        height: 70px;
        width: 70px; 
    }
}

@media (max-width: 480px) {
    .category-container {
        flex-direction: column; 
        gap: 20px; 
    }

    .category-container a {
        height: 60px; 
        width: 60px; 
    }
}
